.contact-module {
  @include normal-padding();
  background-size: cover;
  background-position: center center;

  &__grid {
  }

  &__container {
    background: $white;
    width: 100%;
    padding: 20px;
    @include media(">520px") {
      max-width: 520px;
      padding: 40px;
    }
    @include media(">desktop") {
    }
    @include media(">large") {
    }
  }
  &__heading {
    div {
      display: block;
    }
  }
  &__highlight {
    font-size: 50%;
    margin-left: 2px;
  }
  .highlight-container {
    margin-top: -15px;
    @include media(">tablet") {
      margin-top: -25px;
    }
    @include media(">desktop") {
      margin-top: -33px;
    }
    @include media(">large") {
    }
  }
}
