.contact-module {
  @include normal-padding();
  background-size: cover;
  background-position: center center;

  &__grid {
    @include grid-12();
  }

  &__container {
    @include grid-columns-half();
    background: $white;
    padding: 40px;
    grid-column: 2 / 12;
    @include media(">tablet") {
      grid-column: 1 / 10;
    }
    @include media(">desktop") {
      grid-column: 1 / 8;
    }
    @include media(">large") {
      grid-column: 1 / 6;
    }
  }
  &__heading {
    div {
      display: block;
    }
  }
  &__highlight {
    font-size: clamp(3rem, 7vw, 5rem);
  }
  .highlight-container {
    margin-top: -25px;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    max-width: 250px;
  }
}
